.row {
  max-width: 30rem;
  background-color: #eee;
  margin: 0 auto;
  text-align: center;
  transform: skewX(-5deg);
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3); }
  .row:not(:last-child) {
    margin-bottom: 3rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-1 {
    width: calc(1 * ((100% - (1 - 1) * 4rem) / 1) + (1 - 1) * 4rem); }
  .row .col-1-of-2 {
    width: calc(1 * ((100% - (2 - 1) * 4rem) / 2) + (1 - 1) * 4rem); }
  .row .col-2-of-2 {
    width: calc(2 * ((100% - (2 - 1) * 4rem) / 2) + (2 - 1) * 4rem); }
  .row [class^="col-"] {
    transform: skewX(5deg);
    float: left;
    padding: 10px 0; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4rem; }
