* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.heading{
    margin: 1rem;
    text-align: center;
}

.box {
  height: 58px;
  width: 58px;
  border: 1px solid black;
  float: left;
  text-align: center;
  margin: 1px;
}

.month {
  overflow: auto;
  width: 434px;
  float: left;
  margin: 30px;
}

.center > *{
  font-size: 1.3rem;
  margin-top: 18px;
}