* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.heading {
  margin: 1rem;
  text-align: center;
}
.heading--year{
  margin: 1rem;
  text-align: center;
  min-width: 1333px;
}

.box {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 15rem;
  float: left;
  text-align: center;
  margin: 1px;
}

.day:hover {
  background-color: orangered;
  transform: scale(1.4);
  font-weight: 600;
  color: white;
  transition: 0.4s;
}

.month {
  overflow: auto;
  width: 19.3rem;
  padding: 1rem;
}

.week {
  font-weight: 600;
}

.center > * {
  margin-top: 10px;
}

.year {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-items: center;
}

.wrapper > * {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
