table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

th{
    background-color: orangered;
    border: 1px solid #ddd;
    padding: 8px;
    color: white;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

.pagination-container{
  display: flex;
  justify-content: center;
}

.pagination{
  background-color: orangered;
  text-decoration-style: none;
  color: white;
  padding: 1rem;
  margin: 1rem .5rem;
  width: .5rem;
  height: .5rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.num-results-container{
  display: flex;
  align-items: center;
}

.num-results{
  color: #000;
  text-decoration-style: none;
  padding: .5rem;
  margin: 1rem .2rem;
  width: .5rem;
  height: .5rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}