.row {
  @include clearfix;

  &:not(:last-child) {
    margin: 5rem auto;
  }
  
  .col-3-of-4 {
    width: calc(($max-width - 2 * $gutter-horizontal) / 2);

    background-color: red;
    float: left;
  }
  .col-1-of-4 {
    width: calc(($max-width - 3 * $gutter-horizontal) / 2);

    background-color: green;
    float: left;
  }
}
