.row {
  width: $max-width;
  margin: 0 auto;
  padding: 3rem;
  position: relative;
  @include clearfix;
  background-color: #FFFFFF;

  &:not(:last-child){
    margin-bottom: $gutter-vertical;
  }

  [class^="col-"]{
    float: left;
    color: black;
    font-weight: 800;
    font-size: 1.5rem;
    overflow: hidden;
    height: 12rem;

    &:not(:last-child){
      margin-right: $gutter-horizontal;
    }
  }
  
  .col-2-of-3 {
    width: calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal});   
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  }
  
  .col-1-of-1 {
    width: calc(100%);
  }
}

.avatar{
  float: right;
  clip-path: circle(45% at 50% 50%);

  img{
    height: 11rem;
  }
}

.data{
  float: left;
  height: 11rem;
}