.experience,.resume,.education{
    width: $max-width;
    margin: 0 auto;
    height: 30rem;
    background-color: $tertiary-color;
    padding: 2rem;


}

.heading{
    margin-bottom: 1rem;
}

.paragraph{
    max-width: 48rem;
    overflow-wrap: break-word;
    padding: 1rem;
}