.row {
    max-width: $grid-width;
    background-color: #eee;
    margin: 0 auto;
    text-align: center;
  
    &:not(:last-child) {
      margin-bottom: $gutter-vertical;
    }
  
    @include clearfix;
    @include col-width;
  
    [class^="col-"] {
      float: left;
      padding: 10px 0;
  
      &:not(:last-child) {
        margin-right: $gutter-horizontal;
      }
    }
  }
  