* {
  margin: 0;
  padding: 0;
  box-sizing: content-box; }

html {
  font-size: 70%; }

.cv-form {
  font-size: 1.7rem; }
  .cv-form > input {
    font-size: 1.5rem; }

.row {
  content: "";
  clear: both;
  display: table; }
  .row:not(:last-child) {
    margin: 5rem auto; }
  .row .col-3-of-4 {
    width: calc(($max-width - 2 * $gutter-horizontal) / 2);
    margin-right: 5rem;
    background-color: red;
    float: left; }
  .row .col-1-of-4 {
    width: calc(($max-width - 3 * $gutter-horizontal) / 2);
    margin-right: 5rem;
    background-color: green;
    float: left; }

.cv-form {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border: 1px solid black;
  padding: 2rem 4rem;
  margin: 4rem auto; }
  .cv-form > input {
    height: 3rem;
    margin: 1rem auto;
    border: 1px solid black; }
