* {
  margin: 0;
  padding: 0;
  box-sizing: content-box; }

html {
  font-size: 70%;
  font-family: 'PT Sans', sans-serif; }

.cv-form {
  font-size: 1.7rem; }
  .cv-form > input {
    font-size: 1.5rem; }

.row {
  width: 50rem;
  max-width: 50rem;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
  content: "";
  clear: both;
  display: table;
  background-color: cyan; }
  .row:not(:last-child) {
    margin-bottom: 1rem; }
  .row [class^="col-"] {
    float: left;
    color: black;
    font-size: 1.5rem;
    line-height: 2rem; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 0rem; }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 3 * 0rem) / 4) + 2 * 0rem); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 0rem) / 3); }
  .row .col-1-of-1 {
    width: calc(100%); }

.avatar {
  float: right;
  transform: translateX(-30%);
  clip-path: circle(45% at 50% 50%); }
  .avatar img {
    height: 11rem; }

.data {
  float: left;
  height: 11rem;
  transform: translateX(10%); }

.cv-form {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border: 1px solid black;
  padding: 2rem 4rem;
  margin: 4rem auto; }
  .cv-form > input {
    height: 3rem;
    margin: 1rem auto;
    border: 1px solid black; }

.bg-video {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover; }

.experience, .resume, .education {
  width: 50rem;
  margin: 0 auto;
  height: 30rem;
  background-color: rgba(216, 216, 216, 0.2);
  padding: 2rem; }

.heading {
  margin-bottom: 1rem; }

.paragraph {
  max-width: 48rem;
  overflow-wrap: break-word;
  padding: 1rem; }
