* {
  margin: 0;
  padding: 0;
  box-sizing: content-box; }

html {
  font-size: 70%; }

.cv-form {
  font-size: 1.7rem; }
  .cv-form > input {
    font-size: 1.5rem; }

.row {
  width: 40rem;
  margin: 0 auto;
  padding: 3rem;
  position: relative;
  content: "";
  clear: both;
  display: table;
  background-color: #FFFFFF; }
  .row:not(:last-child) {
    margin-bottom: 1rem; }
  .row [class^="col-"] {
    float: left;
    color: black;
    font-weight: 800;
    font-size: 1.5rem;
    overflow: hidden;
    height: 12rem; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 5rem; }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 3 * 5rem) / 4) + 2 * 5rem); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 5rem) / 3); }
  .row .col-1-of-1 {
    width: calc(100%); }

.avatar {
  float: right;
  clip-path: circle(45% at 50% 50%); }
  .avatar img {
    height: 11rem; }

.data {
  float: left;
  height: 11rem; }

.cv-form {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border: 1px solid black;
  padding: 2rem 4rem;
  margin: 4rem auto; }
  .cv-form > input {
    height: 3rem;
    margin: 1rem auto;
    border: 1px solid black; }
